
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>For the north</title>
  {# <link rel="stylesheet" href="/for-the-north-static/public/styles.css"> #}
      <link href="/flat/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link
    href="/flat/css/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <style>
  /* @font-face{
  font-family: bFont;
  src: url('./../static/fonts/Neutra-Text-Bold.otf') format('opentype');
} */

html, body {
  margin: 0;
  padding: 0;
  background-color: #fdfbed;
  /* font-family: bFont; */
  width: 100%;
  height: 100vh;
  overflow-y: none;
}

.navbar {
  grid-area: navbar;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.logo {
  box-sizing: border-box;
  padding: 0 0.5em;
  text-decoration: none;
  color: white;
}

.nav-link {
  font-size: 20px;
  box-sizing: border-box;
  padding: 0.5em 2em;
  color: whitesmoke;
  text-decoration: none;
}

.nav-link:hover {
  color: #323330;
  background-color: #f6e995;
  text-decoration: underline;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 229, 228);
  overflow-y: scroll;
}

.box {
  /* grid-area: main; */
  /* box-sizing: border-box; */
  /* font-weight: 600; */
  grid-area: log;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* text-align: justify; */
  /* font-family: Lato; */
} 

.post-body {
  padding: 0 10px;
}

.code-section {
  position:relative;
  display: flex;
  align-items: center;
}

.collapse-checkbox {
  display: none;
}

.collapse-toggle {
  display: block;
  position: absolute;
  z-index: 2;
  right: 40px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: whitesmoke;
  border-radius: 50%;
}

.collapse-toggle:hover {
  background-color: lightgray;
}

.collapse-checkbox + .collapse-toggle {
  background-image: url('/for-the-north-static/static/images/collapse.svg');
}

.collapse-checkbox:checked + .collapse-toggle {
  background-image: url('/for-the-north-static/static/images/expand.svg');
}

.collapse-checkbox:checked + .collapse-toggle + .collapse-content {
  height: 0;
  overflow: hidden;
}

.collapse-checkbox:checked + .collapse-toggle + .collapse-content > .code{
  display: none;
}

.collapse-content {
  transition: height 0.2s linear;
  height: 400px;
  width: 100%;
}



@media screen and (min-width: 144px) {
  .list {
    padding: 0 5px;
  }

  .sidebar {
    height: unset;
    /* text-align: center; */
  }

  /* .collapse-toggle {
    top: 19px;
  } */

  /* .main {
    font-size: 16px;
  } */

  .nav-link {
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .code {
    font-size: 10px!important;
  }
}

@media screen and (min-width: 800px) {
  .code {
    font-size: 16px!important;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    display: inline-flex;
    height: calc(100vh - 60px);
    align-items: flex-start;
  }
  body {
    display: grid;
    grid-template-rows: minmax(min-content,max-content) 2fr;
    grid-template-columns: minmax(min-content,max-content) 2fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar main";
  }

  .collapse-toggle {
    top: 30px;
  }

  .main {
    padding: 20px;
    /* font-size: 24px; */
  }

  .list {
    padding: 0 10px;
    box-sizing: border-box;
  }
}

 pre {
            display: none; /*flex; */
            font-size: 11px;
            background-color: #edeef5;
            padding-left: 12px;
            border-left: 1px solid gray;
            border-right: 1px solid gray;
            margin-bottom: 0;
        }
        .showPre {
            display: contents;
        }
        .hideSpinner {
            /* visibility: hidden; */
            display: none;
            width: 20px;
            height: 20px;
        }
        .showSpinner {
            visibility: visible; 
        }
        .disclosure {
            color: rgb(244, 81, 30) !important;
            font-size: 14px;
        }
        .key {
            color: #0a56a7;
        }
        .elementsArray {
            color: green !important;
        }
        .numberLog{
            background-color: rgb(157, 219, 254); 
            border-left: 1px solid gray;
            border-right: 1px solid gray;
            border-bottom: 1px solid gray;
            position: relative; 
            left: -14px; 
        }
        .selectedLog {
            background-color: rgb(157, 219, 254);
        }

        .titleMessage {
            padding: 4px;
            display: inline-block;
            margin: 0;
            border-bottom: 1px solid #c2a7a7;
            color: black;
        }
        .titleLogs {
            color: #201f1f;
            background-color: #b9b9b9;
            border-top: 1px solid gray;
            padding-left: 10px;
            text-align: left;
            font-weight: bold;
            /*font-size: large;
			text-transform: uppercase; */
        }
        .titleLog {
            color: #424242;
            border: 1px solid #d5d5d5;
            font-size: 12px;
            font-family: monospace;
            padding: 2px;
            background-color: #fffafa;
        }
        .titleLog-gray {
            background-color: #bababa66;
        }
        .titleFatal {
            color: #fd0707;
            font-weight: bold;
            background-color: #ffe1e1b3
        }
        .titleWarning {
            color: #cd7721;
            font-weight: bold;
            background-color: #dda43a33;
        }
        .fa-fw {
            font-size: medium;
        }

        tr:nth-child(even) {
            background: #E9E9E9
        }
        tr:nth-child(odd) {
            background: #FFF
        }
        tr:hover {
            background-color: #ffff99;
        }

        .icon-bar {
            width: 100%;
            background-color: #555;
            overflow: auto;
        }

        .icon-bar a {
            float: left;
            width: 20%;
            text-align: center;
            padding: 4px 0;
            transition: all 0.3s ease;
            color: white;
            font-size: 28px;
        }

        .icon-bar a:hover {
            background-color: #000;
        }

        .active {
            background-color: #4CAF50;
        }
  
  </style>
</head>
<body>
  <nav class="navbar">
    <a class="logo" href="/for-the-north-static/pages/index.html">
        <strong>FTN</strong>
    </a>
  </nav>


<script>
    var counterLogs = 0;
    var id = 0;
    document.onclick = function (event) {

        if (event === undefined) 
            event = window.event;
        
        var target = 'target' in event ? event.target : event.srcElement;
        if (event.button == 0) {
            switch (target.id) {

                case 'view':
                    let log = target.getAttribute("data-log");
                    id = document.getElementById('id' + log).innerHTML; 
                    console.table('logDetails', log, id);
                    document.getElementById('id' + log).classList.add('selectedLog');
                    // document.getElementById('id' + log).style.backgroundColor = '#9ddbfe';
                    showLogs(log);
                    break;
                case 'clearLogs':
                    clearLogs();
                    break;
            }
        }
    }

    function showLogs(log) {
        let logDiv = document.getElementById('logData');


        log = document.getElementById(log);

        console.log(logDiv);

        renderJson(atob(log.innerHTML));
        window.location.href = '#bottomEnd';

    }

    function renderJson(result) {
        result = JSON.parse(result);
        console.log('respuesta', result);
        let logsDiv = document.getElementById("logData");
        // logsDiv.appendChild(renderjson(result));

        var g = document.createElement('div');
        g.innerHTML = '<span class="numberLog">&nbsp;  ' + id + ' &nbsp;</span>&nbsp; date: ' + result.date + " -- " + 'warnings: ' + result.warnings + " -- " + 'fatals: ' + result.fatals + '<br><span style="font-size:12px; font-weight: normal">' + result.title + '<br>';
        g.classList.add('titleLogs');
        // logsDiv.innerHTML =  'date: ' + result.date +'\n\r' + 'warnings: ' + result.warnings +'\n\r' + 'fatals: ' + result.fatals;
        logsDiv.appendChild(g);
        for (var log in result) {
            console.log('resultLog', result[log]);
            let obj = result[log];
            if (typeof obj.type != 'undefined') {
                logsDiv.appendChild(renderjson(result[log]));
            }
        };
    }

    function showLogsClick(element) {
        console.log('element', element);
        var preElements = document.getElementsByTagName('pre');

        if (preElements[element].style.display == 'flex') {
            preElements[element].style.display = 'none';
        } else {
            preElements[element].style.display = 'flex';
        }

        console.log(preElements[element].style.display);

    }

    function clearLogs() {
        let logsDiv = document.getElementById("logData");

        document.querySelectorAll(".selectedLog").forEach(function(el){
            el.classList.remove("selectedLog");
        })

        // [].forEach.call( document.querySelectorAll(".selectedLog"), function(el) {
        // });
        logsDiv.innerHTML = '';
        counterLogs = 0;
    }
</script>			




  <aside class="sidebar">
  <table class="table  table-no-more table-bordered mb-0" style="width: 100%; ">
     {% set item = 0 %}
                                {% for log in logs %}
                                    {% set item = item + 1 %}
                                    <tr>
                                        <td data-log="log{{ item }}" id="idlog{{ item }}" valign="top">{{ 1 + totalLogs - item}}</td>
                                        <td>

                                            {% if not log.warnings and  not log.fatals %}
                                                <i class="fa fa-fw fa-info-circle text-info  "></i>
                                            {% endif %}

                                            {% if log.warnings and not log.fatals %}
                                                <i class="fa fa-fw fa-exclamation-triangle text-warning" data-log="log{{ item }}" id="view"></i>
                                            {% endif %}
                                            {% if log.fatals %}
                                                <i class="fa fa-times-circle fa-fw text-danger text-5 va-middle" data-log="log{{ item }}" id="view"></i>
                                            
                                            {% endif %}
                                    </td>
                                    <td data-log="log{{ item }}" id="view" style="font-family: monospace;font-size: 10.6px;font-weight: 400;">
                                        <b>{{ log.dateTime }}</b>
                                        {{ log.serviceTag }}
                                        <br>
                                        {{ log.url|length > 80 ? log.url|slice(0, 80) ~ '...' : log.url  }}
                                        {# <td><button id="view" class="btn btn-primary" data-log="log{{ item }}">View</button></td> #}
                                        <textarea id="log{{ item }}" style="width: 100%; display: none">{{ log.log}}</textarea>
                                    </td>
                                </tr>
                            {% endfor %}
    </table>
  </aside>
  <main class="main">
  Select a log to show the details 
  <button id="clearLogs" class="btn btn-warning">Clear</button>
    <div class="box" id="logData"></div>
  </main>
  <footer></footer>
{# <script src="/public/javascript/index.js"></script> #}

<!-- jQuery -->
<script src="/flat/js/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="/flat/js/bootstrap.min.js"></script>

<script src="/assets/js/debug_renderjson.js" type="text/javascript"></script>

  
    <script src="/assets/js/local/ajax.js"></script>
    {% if authServer  is defined %}
    <script> const urlTest = '{{ authServer }}'</script>
    {% endif %}
	<script src="http://{{ authServer }}/assets/js/remote/init.js"></script>
</body>
</html>