{% extends 'LoggerViewerBundle/Templates/templateFlat.twig' %}

{% block styles %}
    <!-- Bootstrap -->
    <link
    href="/flat/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link
    href="/flat/css/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link
    href="/flat/css/style.css" rel="stylesheet">
    <!-- Color CSS -->
    <link href="/flat/css/themes.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        pre {
            display: none; /*flex; */
            font-size: 11px;
            background-color: #edeef5;
            padding-left: 12px;
            border-left: 1px solid gray;
            border-right: 1px solid gray;
            margin-bottom: 0;
        }
        .showPre {
            display: contents;
        }
        .hideSpinner {
            /* visibility: hidden; */
            display: none;
            width: 20px;
            height: 20px;
        }
        .showSpinner {
            visibility: visible;
        }
        .disclosure {
            color: rgb(244, 81, 30) !important;
            font-size: 14px;
        }
        .key {
            color: #0a56a7;
        }
        /* .syntax {
            color: green;
        } */
             
        .elementsArray {
            color: green !important;
        }
        .titleMessage {
            padding: 4px;
            display: inline-block;
            margin: 0;
            border-bottom: 1px solid #c2a7a7;
            color: black;
        }
        .titleLogs {
            color: #201f1f;
            background-color: #b9b9b9;
            border-top: 1px solid gray;
            padding-left: 10px;
            text-align: center;
            font-weight: bold;
            /*font-size: large;
			text-transform: uppercase; */
        }
        .titleLog {
            color: #424242;
            border: 1px solid #d5d5d5;
            font-size: 12px;
            font-family: monospace;
            padding: 2px;
            background-color: #fffafa;
        }
        .titleLog-gray {
            background-color: #bababa66;
        }
        .titleFatal {
            color: #fd0707;
            font-weight: bold;
            background-color: #ffe1e1b3
        }
        .titleWarning {
            color: #cd7721;
            font-weight: bold;
            background-color: #dda43a33;
        }
        .fa-fw {
            font-size: medium;
        }

        tr:nth-child(even) {
            background: #E9E9E9
        }
        tr:nth-child(odd) {
            background: #FFF
        }
        tr:hover {
            background-color: #ffff99;
        }

        .icon-bar {
            width: 100%;
            background-color: #555;
            overflow: auto;
        }

        .icon-bar a {
            float: left;
            width: 20%;
            text-align: center;
            padding: 4px 0;
            transition: all 0.3s ease;
            color: white;
            font-size: 28px;
        }

        .icon-bar a:hover {
            background-color: #000;
        }

        .active {
            background-color: #4CAF50;
        }
    </style>

{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="page-header">
            <div class="pull-left">
                <h1>Welcome</h1>

            </div>
            <div class="pull-right">
                <ul class="minitiles">

                    <li class='lightgrey'>
                        <a href="#" id="clearLogs">
                            <i class="fa fa-trash-o" id="clearLogs"></i>
                        </a>
                    </li>
                </ul>
                <ul class="stats">
                    <li class='orange'>
                        <i class="fa fa-fw fa-exclamation-triangle"></i>
                        <div class="details">
                            <span class="big">{{ totalWarnings }}</span>
                            <span>Warnings</span>
                        </div>
                    </li>
                    <li class='lightred'>
                        <i class="fa fa-times-circle fa-fw text-danger text-5 va-middle"></i>
                        <div class="details">
                            <span class="big">{{ totalFatals}}</span>
                            <span>Fatals</span>
                        </div>
                    </li>
                    <li class='blue'>
                        <i class="fa fa-fw fa-exclamation-triangle"></i>
                        <div class="details">
                            <span class="big">{{ totalLogs }}</span>
                            <span>Total Logs</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="breadcrumbs">
            <ul>

                <li>
                    <a href="//kumai.local">kumai.com</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li>
                    <a href="more-pricing.html">Logger</a>
                </li>
            </ul>
            <div class="close-bread">
                <a href="#">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-title">
                        <h3>
                            <i class="fa fa-bars"></i>
                            Logs
                        </h3>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-sm-4">
                            {# <div>
                                
                                <ul class="stats">
                                    <li class='btn btn-blue'>
                                        <i class="fa fa-fw fa-exclamation-triangle"></i>
                                        <div class="details">
                                            <span class="big">{{ lines }}</span>
                                            <span>Total Logs</span>
                                        </div>
                                    </li>
                                    <li class='btn btn-danger' >
                                        <i class="fa fa-times-circle fa-fw text-danger text-5 va-middle"></i>
                                        <div class="details" >
                                            <span class="big">{{ totalFatals}}</span>
                                            <span>Fatals</span>
                                        </div>
                                    </li>
                                    <li class='btn btn-warning'>
                                        <i class="fa fa-fw fa-exclamation-triangle"></i>
                                        <div class="details">
                                            <span class="big">{{ totalWarnings }}</span>
                                            <span>Warnings</span>
                                        </div>
                                    </li>
                                    <li id="clearLogs" class='btn btn-primary'>
                                        <i id="clearLogs" class="fa fa-fw fa-exclamation-triangle"></i>
                                        <div class="details">
                                            <span id="clearLogs" class="big">Clear</span>
                                            <span id="clearLogs" >Log Details</span>
                                        </div>
                                    </li>
                                </ul>
                            </div><br><br><br><br> #}
                            <div  style="overflow-y: auto; overflow-x: hidden; padding-right: -43px; height: 500px">

                                {% set item = 0 %}
                                <table
                                    class="table  table-no-more table-bordered mb-0" styles"width: 100%; ">
                                    {# <tr><td></td><td>Date</td><td colspan="2">Fails</td></tr> #}
                                    {% for log in logs %}
                                        {% set item = item + 1 %}
                                        <tr>
                                            <td data-log="log{{ item }}" id="view" valign="top">{{ 1 + totalLogs - item}}&nbsp;</td>
                                            <td>

                                                {% if not log.warnings and  not log.fatals %}
                                                    <i class="fa fa-fw fa-info-circle text-info  "></i>
                                                {% endif %}

                                                {% if log.warnings and not log.fatals %}
                                                    <i class="fa fa-fw fa-exclamation-triangle text-warning" data-log="log{{ item }}" id="view"></i>
                                                {% endif %}
                                                {% if log.fatals %}
                                                    <i class="fa fa-times-circle fa-fw text-danger text-5 va-middle" data-log="log{{ item }}" id="view"></i>
                                                </i>
                                            {% endif %}
                                        </td>
                                        <td data-log="log{{ item }}" id="view" style="font-family: monospace;font-size: 10.6px;font-weight: 400;">
                                            <b>{{ log.dateTime }}</b>
                                            {{ log.serviceTag }}
                                            <br>
                                            {{ log.url|length > 80 ? log.url|slice(0, 80) ~ '...' : log.url  }}&nbsp;
                                            {# <td><button id="view" class="btn btn-primary" data-log="log{{ item }}">View</button></td> #}
                                            <textarea id="log{{ item }}" style="width: 100%; display: none">{{ log.log}}</textarea>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-8" style="overflow-y: auto; height: 600px">

                            {# <button id="clearLogs" class="btn btn-success">Clear Logs</button> #}
                            <div class="box" id="logData"></div>
                            <br><div style="height:400px"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var counterLogs = 0;
    document.onclick = function (event) {

        if (event === undefined) 
            event = window.event;
        
        var target = 'target' in event ? event.target : event.srcElement;
        if (event.button == 0) {
            switch (target.id) {

                case 'view':
                    let log = target.getAttribute("data-log")
                    console.table(log);
                    showLogs(log);
                    break;
                case 'clearLogs':
                    clearLogs();
                    break;
            }
        }
    }

    function showLogs(log) {
        let logDiv = document.getElementById('logData');

        log = document.getElementById(log);

        console.log(logDiv);

        renderJson(atob(log.innerHTML));

    }

    function renderJson(result) {
        result = JSON.parse(result);
        console.log('respuesta', result);
        let logsDiv = document.getElementById("logData");
        // logsDiv.appendChild(renderjson(result));

        var g = document.createElement('div');
        g.innerHTML = result.pid + ' date: ' + result.date + " -- " + 'warnings: ' + result.warnings + " -- " + 'fatals: ' + result.fatals + '<br><span style="font-size:12px; font-weight: normal">' + result.title + '<br>';
        g.classList.add('titleLogs');
        // logsDiv.innerHTML =  'date: ' + result.date +'\n\r' + 'warnings: ' + result.warnings +'\n\r' + 'fatals: ' + result.fatals;
        logsDiv.appendChild(g);
        for (var log in result) {
            console.log('resultLog', result[log]);
            let obj = result[log];
            if (typeof obj.type != 'undefined') {
                logsDiv.appendChild(renderjson(result[log]));
            }
        };
    }

    function showLogsClick(element) {
        console.log('element', element);
        var preElements = document.getElementsByTagName('pre');

        if (preElements[element].style.display == 'flex') {
            preElements[element].style.display = 'none';
        } else {
            preElements[element].style.display = 'flex';
        }

        console.log(preElements[element].style.display);

    }

    function clearLogs() {
        let logsDiv = document.getElementById("logData");
        logsDiv.innerHTML = '';
        counterLogs = 0;
    }
</script>{% endblock %}{% block scripts %}

<!-- jQuery -->
<script src="/flat/js/jquery.min.js"></script>
<!-- Nice Scroll -->
<script src="/flat/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
<!-- jQuery UI -->
<script src="/flat/js/plugins/jquery-ui/jquery-ui.js"></script>
<!-- slimScroll -->
<script src="/flat/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Bootstrap -->
<script src="/flat/js/bootstrap.min.js"></script>
<!-- Form -->
<script src="/flat/js/plugins/form/jquery.form.min.js"></script>

<script src="/assets/js/debug_renderjson.js" type="text/javascript"></script>




<!-- imagesLoaded -->
<script src="/flat/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
<!-- PageGuide -->
<script src="/flat/js/plugins/pageguide/jquery.pageguide.js"></script>

<!-- Chosen -->
<script src="/flat/js/plugins/chosen/chosen.jquery.min.js"></script>
<!-- select2 -->
<script src="/flat/js/plugins/select2/select2.min.js"></script>
<!-- icheck -->
<script src="/flat/js/plugins/icheck/jquery.icheck.min.js"></script>

<!-- Theme framework -->
{# <script src="/flat/js/eakroko.min.js"></script> #}
<!-- Theme scripts --><script src="/flat/js/application.min.js"> </script>
<!-- Just for demonstration -->
{# <script src="/flat/js/demonstration.min.js"></script> #}

<script src="/assets/js/local/ajax.js"></script>{% endblock %}