{% extends 'MainBundle/Templates/templateFlat.twig' %}

{% block styles %}

<!-- Bootstrap -->
<link rel="stylesheet" href="/flat/css/bootstrap.min.css">
<!-- jQuery UI -->
<link rel="stylesheet" href="/flat/css/plugins/jquery-ui/jquery-ui.min.css">
<!-- Theme CSS -->
<link rel="stylesheet" href="/flat/css/style.css">
<!-- Color CSS -->
<link rel="stylesheet" href="/flat/css/themes.css">

<style>

 	#left {
        width:0px;
    }
    #main {
        left: 0px;
        margin-left: 0px;
        padding-bottom: 0px;
    }
	
</style>

	
{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="page-header">
        <div class="pull-left">
            <h1>Menu</h1>
        </div>
        <div class="pull-right">
            <ul class="minitiles">
                <li class="grey">
                    <a href="#">
                        <i class="fa fa-cogs"></i>
                    </a>
                </li>
                <li class="lightgrey">
                    <a href="#">
                        <i class="fa fa-globe"></i>
                    </a>
                </li>
            </ul>
            <ul class="stats">
                
                <li class="lightred">
                    <i class="fa fa-calendar"></i>
                    <div class="details">
                        <span class="big">February 22, 2013</span>
                            <span>Wednesday, 13:56</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="breadcrumbs">
        <ul>
            <li>
                <a href="/">Inicio / productos</a>
            </li>
            
        </ul>
        <div class="close-bread">
            <a href="#">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

</div>





<div class="container">
<br><br>
                    <div class="form-group">
                        <label for="inputDescription">Menu Id</label>
                        <input type="text" disabled class="form-control" value="{% if menu.id is defined %}{{ menu.id }}{% endif %}" name="menu[id]" id="menuId">
                    </div>
                <form method="post" action="{{ path_for('saveMenu', { 'id': menu.id }) }}">
                {# /admin/catalogue/menu/save/{{ menu.id }} #}
                    <input
                    type="hidden" name="menu[id]" value="{% if menu.id is defined %}{{ menu.id }}{% endif %}">
                    {# <input type="hidden" name="menu[parent_id]" value="{{ menu.id }}"> #}
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <input type="text" class="form-control" value="{% if menu.option is defined %}{{ menu.option }}{% endif %}" name="menu[option]" id="option">
                    </div>
                    <div class="form-group">
                        <label for="inputPosition">Posicion</label>
                        <input type="number" class="form-control" value="{% if menu.position is defined %}{{ menu.position }}{% endif %}" name="menu[position]" id="option">
                    </div>
                    <div class="form-group">
                        <label for="inputUrl">Url</label>
                        <input type="text" class="form-control" value="{% if menu.url is defined %}{{ menu.url }}{% endif %}" name="menu[url]" id="option">
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Nivel</label>
                        <input type="text" class="form-control" value="{% if menu.level is defined %}{{ menu.level }}{% endif %}" name="menu[level]" id="level">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="menu[sublevel]" value="1" id="sublevel" {% if menu.sublevel is defined and menu.sublevel %}checked{% endif %}>
                        <label class="form-check-label" for="defaultCheck1">
                            Tiene SubNiveles
                        </label>
                    </div>
                    <br>
                    <div class="form-select">
                        <label for="selectSupplier">Parent</label>
                        <select class="form-control form-control-lg" name="menu[parent_id]">
                            <option value="0">Main</option>
                        {% for parentMenu in menues %}
                            <option value="{{ parentMenu.id  }}"  {% if menu.parent_id is defined and menu.parent_id == parentMenu.id %}selected{% endif %}>{{ parentMenu.option }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-primary">
                        {% if menu.id > 0 %}Salvar
                        {% else %}
                            Insertar
                        {% endif %}
                    </button>

			    </form>


	
</div>
		
{% endblock %}

{% block scripts %}

	<!-- jQuery -->
	<script src="/flat/js/jquery.min.js"></script>
	<!-- Nice Scroll -->
	<script src="/flat/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<!-- jQuery UI -->
	<script src="/flat/js/plugins/jquery-ui/jquery-ui.js"></script>
	<!-- slimScroll -->
	<script src="/flat/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!-- Bootstrap -->
	<script src="/flat/js/bootstrap.min.js"></script>
	<!-- Form -->
	<script src="/flat/js/plugins/form/jquery.form.min.js"></script>







	<!-- vmap -->
	<script src="/flat/js/plugins/vmap/jquery.vmap.min.js"></script>
	<script src="/flat/js/plugins/vmap/jquery.vmap.world.js"></script>
	<script src="/flat/js/plugins/vmap/jquery.vmap.sampledata.js"></script>
	<!-- Bootbox -->
	<script src="/flat/js/plugins/bootbox/jquery.bootbox.js"></script>
	<!-- Flot -->
	<script src="/flat/js/plugins/flot/jquery.flot.min.js"></script>
	<script src="/flat/js/plugins/flot/jquery.flot.bar.order.min.js"></script>
	<script src="/flat/js/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="/flat/js/plugins/flot/jquery.flot.resize.min.js"></script>
	<!-- imagesLoaded -->
	<script src="/flat/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
	<!-- PageGuide -->
	<script src="/flat/js/plugins/pageguide/jquery.pageguide.js"></script>
	<!-- FullCalendar -->
	<script src="/flat/js/plugins/fullcalendar/moment.min.js"></script>
	<script src="/flat/js/plugins/fullcalendar/fullcalendar.min.js"></script>
	<!-- Chosen -->
	<script src="/flat/js/plugins/chosen/chosen.jquery.min.js"></script>
	<!-- select2 -->
	<script src="/flat/js/plugins/select2/select2.min.js"></script>
	<!-- icheck -->
	<script src="/flat/js/plugins/icheck/jquery.icheck.min.js"></script>




	<!-- Theme framework -->
	{# <script src="/flat/js/eakroko.min.js"></script> #}
	<!-- Theme scripts -->
	<script src="/flat/js/application.min.js"></script>
	<!-- Just for demonstration -->
	<script src="/flat/js/demonstration.min.js"></script>
	
	<script src="/assets/js/local/ajax.js"></script>
{% endblock %}