<div class="navbar-fixed-top" id="navigation">
    <div class="" id="loader" style="z-index: -1"></div>

    <div class="container-fluid">
        {# 
        para visualizar la barra izquierda
        <a class="mobile-sidebar-toggle" href="#">
            <i class="fa fa-th-list"></i>
        </a> #}
        <a href="/" id="brand">Laundry Soft</a>
        {# <a class="toggle-nav" data-placement="bottom" href="#" rel="tooltip" title="Toggle navigation">
                <i class="fa fa-bars"></i>
            </a> #}
            <ul class="main-nav">
               
        {% if  name is defined and name is not empty %}
            
            {{ topMenu | raw }}
        {# {% else %}
                <li class="inactive">
                    <a href="/">
                        <span>Inicio</span>
                    </a>
                </li> #}
        {% endif %}
                {# <li class="inactive">
					<a href="/ubicaciones">
						<span>Ubicaciones</span>
					</a>
				</li> #}
            </ul>
        <div class="user">

            <ul class="icon-nav">


                {% if  name is defined and name is not empty %}
                    <a
                        class='dropdown-toggle' data-toggle="dropdown" href="#" style="margin-top: 2px">
                        {# <span class="letterCircle">R</span> #}
                        <img "demo/user-avatar.jpg" alt="Raul Quintero" src="/img/noimage.jpg" class="imageCircle" style="padding-top: 0px; height:39px">&nbsp;
                        {# <img src="/img/verified2.png" height="20" alt="" style="margin-top: 7px">&nbsp;&nbsp; #}
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li class="dropdown" style="color: white;padding-top: 6px; padding-left:8px; padding-bottom:6px; background-color: #888; width: 100%; font-weight: bold;">{{ name | ucwords}}</li>
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
                        <li>
                            <a href1="/settings">Account settings</a>
                        </li>
                        <li>
                            <a href="http://simplicity.local">goto simplicity.com</a>
                        </li>
                        <li>
                            <a href="/logout">Sign out</a>
                        </li>
                    </ul>

                {% else %}

                    <li class="dropdown" id="login" style="color: white; padding-top: 2px">

                        <a class="btn btn-green btn-lg" onclick="openLogin();" style="color:white; border: 1px solid #336699; line-height: 18px; ">
                            <i class="fa fa-sign-in fa-5"></i>
                            Log In
                        </a>
                      
                            <ul class="dropdown-menu pull-right"> <li>
                                <a href="http://simplicity.local">goto simplicity.com</a>
                            </li>
                            <li>
                                <a href="/login">Log In</a>
                            </li>
                        </ul>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</div>

<script>


    function openLogin() {
		
        var myWindow = window.location.assign("{{ authServer }}/login/{{ keyLogin }}");
    }


    // http://{{authServer}}/login/08b5f9ae8d68c6f82c0da788a6391738
</script>
