<!--includes/option-links.html-->
{% for link in links %}
    {% if link.option_name == "div" %}
      <li class="dropdown-divider"></li>

        {% else %}
        {% if link.sublinks >0 %}
          {% if horizontal is defined and horizontal == 1 %} 
              <li class="dropdown-submenu">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <span>{{ link.option_name | ucfirst }}</span>
                {# <span class="caret"></span> #}
              </a>
              {# <a id="dropdownMenu" href="#" role="button" data-toggle="dropdown" 
                  aria-haspopup="true" aria-expanded="false" class="dropdown-item 
                    dropdown-toggle">{{ link.option_name | ucwords }}</a> #}
            {% else %} 
              <li class="nav-item dropdown">
              <a id="dropdownMenu" href="#" data-toggle="dropdown" aria-haspopup="true" 
                aria-expanded="false" class="nav-link dropdown-toggle" >{{ link.option_name | ucwords }}
                <span class="caret"></span>
                </a>
                
          {% endif %}
    			<ul aria-labelldeby="dropdownMenu" class="dropdown-menu border-0 shadow">
            
          {% include "MainBundle/Templates/Components/Includes/menu.twig" with {'links':link.sublinks, 'horizontal': 1} only %}
                    
                        
                
		    	</ul>
          </li>
          {% else %}
            {% if horizontal is defined and horizontal == 1 %} 

                <li><a href="{{ link.url }}" class="dropdown-item">{{ link.option_name | ucwords}}</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ link.url }}"><span>{{ link.option_name | ucwords }}</span></a></li>
            {% endif %}
        {% endif %}
    {% endif %}        
{% endfor %}


           {# <a href="#" data-toggle="dropdown" class="dropdown-toggle">
						<span>Forms</span>
						<span class="caret"></span>
					</a> #}