<!--includes/option-links.html-->
{% for link in links %}
    {% if link.option == "div" %}
      <li class="dropdown-divider"></li>

        {% else %}
        {% if link.sublinks >0 %}
          {% if horizontal is defined and horizontal == 1 %} 
              <li class="dropdown-submenu">
              <a id="dropdownMenu" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">{{ link.option | ucwords }}</a>
            {% else %} 
              <li class="nav-item dropdown">
              <a id="dropdownMenu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle" >{{ link.option | ucwords }}</a>
          {% endif %}
    			<ul aria-labelldeby="dropdownMenu" class="dropdown-menu border-0 shadow">
            
          {% include "Components/Includes/menu.twig" with {'links':link.sublinks, 'horizontal': 1} only %}
                    
                        
                
		    	</ul>
          </li>
          {% else %}
            {% if horizontal is defined and horizontal == 1 %} 

                <li><a href="{{ link.url }}" class="dropdown-item">{{ link.option | ucwords}}</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ link.url }}"><span>{{ link.option | ucwords }}</span></a></li>
            {% endif %}
        {% endif %}
    {% endif %}        
{% endfor %}


           